body {
    background-color: #121212; /* Cinza muito escuro */
    color: #ffffff; /* Texto branco para contraste */
    font-family: 'Arial', sans-serif; /* Fonte legível */
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
